html body{
  background-color: #233040;
}

.header {
  text-align: center;
}
.header h1{
    font-size: 5.0em;
    font-family: 'Bree Serif', serif;
    font-weight: bold;
    text-shadow: 2px 3px #515151;
    color: #ffffff;
}
.nav li a{
  font-size: 2.0em;
}
.navbar .navbar-nav{
  float:none;
  display: inline-block;
  vertical-align: top;
}
.modal-header, .modal-body, .modal-footer{
  background-color: #47607f;
  border-color: #47607f
}
.modal-header{
  color: #2b2b2b;
  font-weight: bold;
}
#signupButton, #loginButton{
  width: 80px;
  height: 34px;
  border-radius: 4px;
  border: 0px;
}
